@import "variables";
@import "mixins";

@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index';

/* @import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/scss/_root.scss';
@import '../node_modules/bootstrap/scss/_reboot.scss';
@import '../node_modules/bootstrap/scss/_utilities.scss';
@import '../node_modules/bootstrap/scss/_media.scss';
@import '../node_modules/bootstrap/scss/_card.scss';
@import '../node_modules/bootstrap/scss/_tables.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '../node_modules/bootstrap/scss/buttons.scss'; */

.card {
  border: 1px solid rgba($dark, .1);
}

body {
  background-color: $light;

  font-family: 'Poppins', sans-serif !important;
}

th {
  font-size: .9em;
  font-weight: normal;
}

iframe {
  max-width: 100%;
}

.preview-image {
  width: 200px;
  height: 200px;

  margin-top: 1rem;
}

.pointer {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.medium-text {
  font-size: .9em;
}

.shadow-card {
  box-shadow: 0px 3px 6px #00000029;
}

input,
select,
button,
textarea,
.normal-text.font-weight-bold.border-bottom.d-block.py-2.not-collapsed {
    box-shadow: none !important;

    border-radius: .1rem !important;

    z-index: 10;
}

input,
select {
    border: 1px solid rgba($secondary, .2) !important;
}

.form-control,
select {
    height: 40px !important;
}

label {
  font-size: .95em;
  font-weight: 500;

  margin: 0;
  margin-bottom: .3rem;
}

// Animaciones
@keyframes jump_low-data {
  0% {
    transform: translateY(-10px) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1);
  }
  100% {
    transform: translateY(-10px) scale(1);
  }
}